p
{	
	color: blue;
	font-size: 80px;
	text-decoration: underline;
 }

 header{
 	background-color: rgb(173, 0, 52);
 	position:fixed; 
 	/* Default value is static ...Others are relative and absolute*/
 	top: 0px;
 	left: 0px;
 	right: 0px;
 	z-index: 5;
 	/*top,right,left and bottom will not work without the position property  ---Important*/
 }

 /*here below had for class anchor..nav a is called decendent selector...We use class more than ids so as we can reuse the code*/
 .nav a{
text-decoration: none;
font-family: 'montserrat','trebucket MS',sans-serif;
color: white;
font-weight: bold;
font-size: 20px;
padding: 2%;
position: relative;
bottom:14px;
left:43px;
 }

 .first{
  width: 100%;
  height: 95%;

 }



/*The below is called as psuedo selector*/
 a:hover{

 	color: grey;
 }

/*relative is relative to itself ie relativ to the default position the element will take*/
  #fullstack{
  position:relative;
 }

 #fullstack img{

  width:100%;
  height:95%;
  margin-top: 39px;
 }

 .second {
/*absolute will not work if the parent element ie fullstack is not given a position.If not pecified will take the body 
.Absolute will take theposition with respect to the parent div ie fullstack*/
  color: white;
  font-size: 48px;
  text-decoration: none;
  position: absolute;
  bottom: 161px;
  left: 117px;
  right: 174px;
  font-size: 40;
 }

/* .program 
 {
background-color: blue;
}*/

#program h1{
  font-size: 40;
  padding-left: 40%;
  color: rgb(173, 0, 52);
 }

#curry h1{
  font-size: 40;
  padding-left: 40%;
  color: rgb(173, 0, 52);
 }

.lorem{
	 color: yellow;
	 text-decoration: none;
	  font-size: 23;
	  color:rgb(86, 72, 72);
    margin: 0px 150px 0px 150px;
    text-align: justify;
}

footer{
  background: black;
  position: static;
}
footer h1{
   color: white;
  padding-left: 20%;
  font-size: 28px;
}